﻿


<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<!-- Mirrored from fickle.aimmate.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Apr 2018 22:22:41 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- iOS webapp metatags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ios/fickle-logo-114.png" />

    <!-- TODO: Add a favicon -->
    <link rel="shortcut icon" href="~/Content/images/ico/fab.ico">

    <title>@ViewBag.Title </title>

    <!--Page loading plugin Start -->
    <link rel="stylesheet" href="~/Content/css/plugins/pace.css">
    <script src="~/Content/js/pace.min.js"></script>
    <!--Page loading plugin End   -->
    <!-- Plugin Css Put Here -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/plugins/bootstrap-progressbar-3.1.1.css">
    <link rel="stylesheet" href="~/Content/css/plugins/jquery-jvectormap.css">

    <!--AmaranJS Css Start-->
    <link href="~/Content/css/plugins/amaranjs/jquery.amaran.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/all-themes.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/awesome.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/default.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/blur.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/user.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/rounded.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/readmore.css" rel="stylesheet">
    <link href="~/Content/css/plugins/amaranjs/theme/metro.css" rel="stylesheet">
    <!--AmaranJS Css End -->
    <!-- Plugin Css End -->
    <!-- Custom styles Style -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Custom styles Style End-->
    <!-- Responsive Style For-->
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!-- Responsive Style For-->
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="">
    <!--Navigation Top Bar Start-->
    <nav class="navigation">
        <div class="container-fluid">
            <!--Logo text start-->
            <div class="header-logo">
                <a href="index.html" title="">
                    <h1>Assignment</h1>
                </a>
            </div>
            <!--Logo text End-->
            <div class="top-navigation">
                <!--Collapse navigation menu icon start -->

                <div class="search-box">
                    <ul>
                        <li class="dropdown">



                        </li>
                    </ul>
                </div>

                <!--Collapse navigation menu icon end -->
                <!--Top Navigation Start-->

                <ul>




                    <li>
                        <a href="/Home/Login">
                            <i class="fa fa-power-off"></i>
                        </a>
                    </li>

                </ul>
                <!--Top Navigation End-->
            </div>
        </div>
    </nav>
    @RenderBody()
    <!--Navigation Top Bar End-->
    <!--Layout Script start -->
    <script type="text/javascript" src="~/Content/js/color.js"></script>
    <script type="text/javascript" src="~/Content/js/lib/jquery-1.11.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/multipleAccordion.js"></script>

    <!--easing Library Script Start -->
    <script src="~/Content/js/lib/jquery.easing.js"></script>
    <!--easing Library Script End -->
    <!--Nano Scroll Script Start -->
    <script src="~/Content/js/jquery.nanoscroller.min.js"></script>
    <!--Nano Scroll Script End -->
    <!--switchery Script Start -->
    <script src="~/Content/js/switchery.min.js"></script>
    <!--switchery Script End -->
    <!--bootstrap switch Button Script Start-->
    <script src="~/Content/js/bootstrap-switch.js"></script>
    <!--bootstrap switch Button Script End-->
    <!--easypie Library Script Start -->
    <script src="~/Content/js/jquery.easypiechart.min.js"></script>
    <!--easypie Library Script Start -->
    <!--bootstrap-progressbar Library script Start-->
    <script src="~/Content/js/bootstrap-progressbar.min.js"></script>
    <!--bootstrap-progressbar Library script End-->
    <!--FLoat library Script Start -->
    <script type="text/javascript" src="~/Content/js/chart/flot/jquery.flot.js"></script>
    <script type="text/javascript" src="~/Content/js/chart/flot/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="~/Content/js/chart/flot/jquery.flot.resize.js"></script>
    <!--FLoat library Script End -->

    <script type="text/javascript" src="~/Content/js/pages/layout.js"></script>
    <!--Layout Script End -->



    <script src="~/Content/js/countUp.min.js"></script>

    <!-- skycons script start -->
    <script src="~/Content/js/skycons.js"></script>
    <!-- skycons script end   -->
    <!--Vector map library start-->
    <script src="~/Content/js/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!--Vector map library end-->
    <!--AmaranJS library script Start -->
    <script src="~/Content/js/jquery.amaran.js"></script>
    <!--AmaranJS library script End   -->
    <script src="~/Content/js/pages/dashboard.js"></script>
</body>

<!-- Mirrored from fickle.aimmate.com/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Apr 2018 22:23:17 GMT -->
</html>


