﻿@model assignment.Models.User

@{
    ViewBag.Title = "Create";
}


    <style>
        .col-md-10 {
            margin-bottom: 10px;
        }
    </style>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="container">
    <h4>create User</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.useractive, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.useractive, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.useractive, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.mobilenumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.mobilenumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.mobilenumber, "", new { @class = "text-danger" })
        </div>
    </div>

<div class="form-group">
  
    <div class="col-md-offset-2 col-md-10">

        <a href="/Home/Index" class=" btn ls-red-btn col-md-4 " data-toggle="modal"><span>Back</span></a>
        <div class="col-md-4"></div>
        <input type="submit" value="Create" class="btn ls-green-btn col-md-4 right" />
    </div>
    

</div>
  
</div>
}


