﻿@model assignment.Models.User

@{
    ViewBag.Title = "Details";
}
    <style>
        .col-md-10 {
            margin-bottom: 10px;
        }
    </style>
    <h2>Details User</h2>

    <div class="container">

        <hr />



        <div class="form-group">
            @Html.LabelFor(model => model.username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              
                @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
        </div>
        <h1></h1>
        <div class="form-group">
            @Html.LabelFor(model => model.fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
        </div>
        <h1></h1>
        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
            </div>
        </div>
        <h1></h1>
        <div class="form-group">
            @Html.LabelFor(model => model.useractive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.useractive, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <h1></h1>
        <div class="form-group">
            @Html.LabelFor(model => model.mobilenumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.mobilenumber, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
          </div>
        </div>
        <h1></h1>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/Home/Index" class=" btn ls-red-btn col-md-5 " data-toggle="modal"><span>Back</span></a>
                <div class="col-md-2"></div>
             
            </div>
        </div>
    
    </div>

