﻿@model IEnumerable<assignment.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <div class="panel-body">
                <!--Table Wrapper Start-->
                <div class="row">
                    <div class="col-md-9 left">
                 
                    </div>
                    <div class="col-md-3 right">

                        <a href="/Home/Create" class=" btn ls-red-btn col-md-12 right" data-toggle="modal"><span>Regester User</span></a>

                    </div>
                </div>
                <br/>
                <div class="table-responsive ls-table">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.username)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fullname)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.password)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.useractive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.mobilenumber)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.username)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fullname)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.password)
                                    </td>
                                    <td>

                                        @if (item.useractive == true)
                                        {
                                            <span class="label label-info">Active</span>
                                        }
                                        else
                                        {
                                    <span class="label label-danger">InActive</span>
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.mobilenumber)
                                    </td>
                                    <td class="text-center">
                                        <a href="/Home/Details/@item.ID" class="btn btn-xs btn-success" ><i class="fa fa-eye"></i></a>
                                        <a href="/Home/Edit/@item.ID" class="btn btn-xs btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                                        
                                     
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--Table Wrapper Finish-->
                @*<div class="text-center">
                    <div class="ls-button-group demo-btn ls-table-pagination">
                        <ul class="pagination ls-pagination">
                            <li><a href="#"><i class="fa fa-arrow-left"></i> </a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>