﻿
@{
    Layout = null;
}
@model assignment.Models.User


<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from fickle.aimmate.com/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 07 Apr 2018 22:26:44 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- iOS webapp metatags -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- iOS webapp icons -->
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ios/fickle-logo-72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ios/fickle-logo-114.png" />

    <!-- TODO: Add a favicon -->
    <link rel="shortcut icon" href="~/Content/images/ico/fab.ico">

    <title>Login</title>

    <!--Page loading plugin Start -->
    <link rel="stylesheet" href="~/Content/css/plugins/pace.css">
    <script src="~/Content/js/pace.min.js"></script>
    <!--Page loading plugin End   -->
    <!-- Plugin Css Put Here -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/plugins/bootstrap-switch.min.css">
    <link rel="stylesheet" href="~/Content/css/plugins/ladda-themeless.min.css">

    <link href="~/Content/css/plugins/humane_themes/bigbox.css" rel="stylesheet">
    <link href="~/Content/css/plugins/humane_themes/libnotify.css" rel="stylesheet">
    <link href="~/Content/css/plugins/humane_themes/jackedup.css" rel="stylesheet">

    <!-- Plugin Css End -->
    <!-- Custom styles Style -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!-- Custom styles Style End-->
    <!-- Responsive Style For-->
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!-- Responsive Style For-->
    <!-- Custom styles for this template -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-screen">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="login-box">
                        <div class="login-content">
                            <div class="login-user-icon">
                                <i class="glyphicon glyphicon-user"></i>

                            </div>
                            <h3>Identify Yourself</h3>
                            <div class="social-btn-login">

                                <!--<button class="btn ls-dark-btn rounded"><i class="fa fa-facebook"></i></button>
                                <button class="btn ls-dark-btn rounded"><i class="fa fa-twitter"></i></button>
                                <button class="btn ls-dark-btn rounded"><i class="fa fa-linkedin"></i></button>
                                <button class="btn ls-dark-btn rounded"><i class="fa fa-google-plus"></i></button>
                                <button class="btn ls-dark-btn rounded"><i class="fa fa-github"></i></button>
                                <button class="btn ls-dark-btn rounded"><i class="fa fa-bitbucket"></i></button>-->
                            </div>
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="login-form">


                                <div class="form-horizontal ls_form">
                                    <div class="input-group ls-group-input">
                                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username" } })

                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>

                                    </div>
                                    <div class="input-group ls-group-input">

                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="input-group ls-group-input">


                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Password" } })

                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>


                                    </div>
                                    <div class="input-group ls-group-input">

                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })

                                    </div>
                                    <div class="input-group ls-group-input login-btn-box">

                                        <button class="btn ls-dark-btn ladda-button col-md-12 col-sm-12 col-xs-12">
                                            <span class="ladda-label"><i class="fa fa-key"></i></span>
                                        </button>

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                        }



                    </div>
                </div>
            </div>
        </div>
        <p class="copy-right big-screen hidden-xs hidden-sm">

        </p>
    </section>

</body>

<script src="~/Content/js/lib/jquery-2.1.1.min.js"></script>
<script src="~/Content/js/lib/jquery.easing.js"></script>
<script src="~/Content/js/bootstrap-switch.min.js"></script>
<!--Script for notification start-->
<script src="~/Content/js/loader/spin.js"></script>
<script src="~/Content/js/loader/ladda.js"></script>
<script src="~/Content/js/humane.min.js"></script>
<!--Script for notification end-->

<script src="~/Content/js/pages/login.js"></script>


</html>
